<div class="grid-container">
    <div class="header">
        <div class="elo-selection">
            <span class="inline-block">Elo: </span>
            <app-selector-buttons class="inline-block" [options]="eloOptions" [selection]="selectedElo" (selectionChange)="changeEloRange($event)">
            </app-selector-buttons>
        </div>
        <div class="title-container">
            <h1 class="title">Stat Crusher</h1>
        </div>
        <div class="nav-container">
            <a class="nav-link" href="/about">Info</a>
        </div>
    </div>
    <app-pokemon-list 
        class="pokemon-selector scroll" 
        [usageStats]="usageData"
        [selectedIndex]="selectedIndex"
        (selectedIndexChange)="changeSelectedPokemon($event)"
    > </app-pokemon-list>

    <div class="pokemon-info scroll flex-container" *ngIf="selectedSpeciesData && !isLoading">

        <div class="box general-info" id="general-info">
            <img class="image" width="140" height="140" [src]="selectedSpeciesData.officialArt" [alt]=""/>
            <div class="usage">
                <h3>{{selectedPokemonName}}</h3>
                <div class="subtle italic">{{selectedSpeciesData.types.join(' / ')}}</div>
                <br/>
                <div>
                    <span class="key">Rank: </span>
                    <span class="value">{{usageData[selectedIndex].rank}}</span>
                </div>
                <div>
                    <span class="key">Usage: </span>
                    <span class="value">{{pokemonUsageInfo.usage * 100 | number: '1.2-2'}}%</span>
                </div>
                <!-- Total Montly Usage: {{pokemonUsageInfo.total}}<br/> -->
            </div>
        </div>

        <div class="box abilities" id="abilities">
            <h2>Abilities</h2>
            <table class="chart">
                <tr class="table-row" *ngFor="let ability of abilities; last as last" [ngClass]="{bottom: last}">
                    <td>{{ ability.name }}</td>
                    <td>{{ ability.usage * 100 | number: '1.2-2' }}%</td>
                </tr>
            </table>
        </div>

        <div class="box items" id="items">
            <h2>Items</h2>
            <table class="chart">
                <tr class="table-row" *ngFor="let item of items; last as last" [ngClass]="{bottom: last}">
                    <td>
                        <img *ngIf="item.name !== 'Other'" [src]="item.sprite" [alt]="item.alt" />
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.usage * 100 | number: '1.2-2' }}%</td>
                </tr>
            </table>
        </div>

        <div class="box moves" id="moves">
            <h2>Moves</h2>
            <table class="chart">
                <tr class="table-row" *ngFor="let move of moves; last as last" [ngClass]="{bottom: last}">
                    <td>{{ move.name }}</td>
                    <td>{{ move.type }}</td>
                    <td>{{ move.usage * 100 | number: '1.2-2' }}%</td>
                </tr>
            </table>
        </div>

        <div class="box natures" id="natures">
            <h2>Natures</h2>
            <table class="chart">
                <tr *ngFor="let nature of natures; last as last" [ngClass]="{bottom: last}">
                    <td>{{ nature.name }}</td>
                    <td>{{ nature.usage * 100 | number: '1.2-2' }}%</td>
                </tr>
            </table>
        </div>

        <div class="box speed" id="speed">
            <app-stats-display 
                [name]="'Speed'"
                [baseStat]="selectedSpeciesData.baseStats[5]"
                [data]="pokemonUsageInfo.spd"
                [showIvNote]="true">
            </app-stats-display>
        </div>

        <div class="box hp" id="hp">
            <app-stats-display 
                [name]="'HP'"
                [baseStat]="selectedSpeciesData.baseStats[0]"
                [data]="pokemonUsageInfo.hp">
            </app-stats-display>
        </div>

        <div class="box attack" id="attack">
            <app-stats-display 
                [name]="'Attack'"
                [baseStat]="selectedSpeciesData.baseStats[1]"
                [data]="pokemonUsageInfo.atk"
                [showIvNote]="true">
            </app-stats-display>
        </div>

        <div class="box defense" id="defense">
            <app-stats-display 
                [name]="'Defense'"
                [baseStat]="selectedSpeciesData.baseStats[2]"
                [data]="pokemonUsageInfo.def">
            </app-stats-display>
        </div>

        <div class="box spattack" id="spattack">
            <app-stats-display 
                [name]="'Special Attack'"
                [baseStat]="selectedSpeciesData.baseStats[3]"
                [data]="pokemonUsageInfo.satk">
            </app-stats-display>
        </div>

        <div class="box spdefense" id="spdefense">
            <app-stats-display 
                [name]="'Special Defense'"
                [baseStat]="selectedSpeciesData.baseStats[4]"
                [data]="pokemonUsageInfo.sdef">
            </app-stats-display>
        </div>
    </div>

    <div class="right-side-bar"> <!-- For css navigaters and ad space -->
        <ul>
            <!--li><a href="#general-info">Top</a></li-->
            <li><a href="#abilities">Abilities</a></li>
            <li><a href="#items">Items</a></li>
            <li><a href="#moves">Moves</a></li>
            <li><a href="#natures">Natures</a></li>
            <li><a href="#speed">Speed</a></li>
            <li><a href="#hp">HP</a></li>
            <li><a href="#attack">Attack</a></li>
            <li><a href="#defense">Defense</a></li>
            <li><a href="#spattack">Sp. Atk.</a></li>
            <li><a href="#spdefense">Sp. Def.</a></li>
        </ul>
    </div>
</div>
