.header {
    height: 75px;
    width: 100%;
    background-color: #711;
    text-align: center;
}

.title {
    padding: .75em;
}

.main-container {
    width: 50%;
    margin-inline: auto;
}

p {
    line-height: 1.25em;
}

li {
    margin-top: .5em;
}