<div class="header">
    <h1 class="title">Stat Crusher</h1>
</div>

<div class="main-container">
    <br/><br/>
    <p>
        This app was made to gain insight into how players typically build their Pokemon. 
        This is extremely useful for speed creeping or offensive and defensive damage calculations. 
        It is currently only designed with VGC in mind but in the future will accomodate other formats like OU. 
        It was largely inspired by sites like <a href="https://www.pikalytics.com/">Pikalytics</a> and <a href="https://www.babiri.net/">Babiri.net</a>. 
    </p><br/><br/>

    <h2>Special Thanks:</h2>
    <ul>
        <li>
            Chaos and <a href="https://www.smogon.com/stats/">Smogon</a> for compiling usage statistics across all formats.
        </li>
        <li>
            Zarel and Pokemon Showdown's <a href="https://pokemonshowdown.com/">open-source</a> community. For providing a platform for players to build and experiment on.
            This is also where I stole most of the Pokemon, Move, and Item metadata.
        </li>
        <li>
            msikma and <a href="https://msikma.github.io/pokesprite/">PokeSprite</a> for providing a free open-source compilation of Pokemon and item menu sprites.
        </li>
        <li>
            <a href="https://pokeapi.co/">Pokeapi</a> for providing an easy source of official artwork and other useful metadata.
        </li>
        <li>
            Users like you!
        </li>
    </ul>
</div>




