<app-chart-tab [(selectedTab)]="mode"></app-chart-tab>


<div class="container">
    <ng-container [ngSwitch]="mode">
        <canvas baseChart class="histogram" *ngSwitchCase="0"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
        <canvas baseChart class="histogram" *ngSwitchCase="1"
            [datasets]="barChartDataAsc"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
        <canvas baseChart class="histogram" *ngSwitchCase="2"
            [datasets]="barChartDataDesc"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
    </ng-container>
</div>


