.container {
    position: relative;
}

.canvas {
    width: 100%;
    background-color: #181818;
}

.mouse-over {
    fill: white;
}

.mouse-over:hover {
    fill: red;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    background-color: red;
}

.shown {
    visibility: visible;
}