.button {
    height: 30px;
    border-radius: 1px;
    padding: 0 5px;
    background-color: #0f0f9f;
    color: #ccc
}

.button.right {
    padding-right: 15px;
    border-radius: 1px 15px 15px 1px;
}

.button.left {
    padding-left: 15px;
    border-radius: 15px 1px 1px 15px;
}

.button.selected {
    background-color: #0f0f3f;
}